
@{
    ViewData["Title"] = "About_As";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section banner-page" data-background="images/about.jpg">
    <div class="content-wrap pos-relative">
        <div class="d-flex justify-content-center bd-highlight mb-2">
            <div class="title-page">About Us</div>
        </div>
        <p class="text-center text-white">Your pet's health and well-being are our top priority.</p>
    </div>
</div>
<div id="veterinary" class="section-border">
    <div class="content-wrap">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h2 class="section-heading text-center text-primary no-after mb-5">
                        Meet Veterinary
                    </h2>
                    <p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
                </div>
            </div>

            <div class="row mt-4">

                <!-- Item 1 -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="rs-team-1">
                        <div class="media">
                            <img src="/images/image1.jpg" alt="" class="img-fluid">
                            <div class="sosmed-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="title">Dr. John Doel</div>
                            <div class="text-primary">Veterinary</div>
                        </div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="rs-team-1">
                        <div class="media">
                            <img src="/images/image2.jpg" alt="" class="img-fluid">
                            <div class="sosmed-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="title">Dr. Mellisa Doel</div>
                            <div class="text-primary">Veterinary</div>
                        </div>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="rs-team-1">
                        <div class="media">
                            <img src="/images/image3.jpg" alt="" class="img-fluid">
                            <div class="sosmed-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="title">Dr. Aldizza Doel</div>
                            <div class="text-primary">Veterinary</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                    <a href="#" class="btn btn-sec mt-5">Check More</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="content-wrap content-wrap-40">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h2 class="section-heading text-center text-primary no-after mb-5">
                        Our Awards
                    </h2>
                    <p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2">
                    <div class="client-img">
                        <a href="#">
                            <img src="/images/client1.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-2">
                    <div class="client-img">
                        <a href="#"><img src="/images/client2.png" alt="" class="img-fluid"></a>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-2">
                    <div class="client-img">
                        <a href="#"><img src="/images/client3.png" alt="" class="img-fluid"></a>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-2">
                    <div class="client-img">
                        <a href="#"><img src="/images/client4.png" alt="" class="img-fluid"></a>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-2">
                    <div class="client-img">
                        <a href="#"><img src="/images/client5.png" alt="" class="img-fluid"></a>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-2">
                    <div class="client-img">
                        <a href="#"><img src="/images/client6.png" alt="" class="img-fluid"></a>
                    </div>
                </div>
					
            </div>
        </div>
    </div>
</div>

