
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section banner-page" data-background="images/about.jpg">
    <div class="content-wrap pos-relative">
        <div class="d-flex justify-content-center bd-highlight mb-2">
            <div class="title-page">Gallery</div>
        </div>
        <p class="text-center text-white">Your pet's health and well-being are our top priority.</p>
    </div>
</div>
<div id="class" class="">
    <div class="content-wrap">
        <div class="container">

            <div class="row">

                <div class="col-12 col-sm-12 col-md-12">
                    <div class="row popup-gallery gutter-5">
                        <!-- ITEM 1 -->
                        <div class="col-sm-6 col-md-4">
                            <div class="box-gallery">
                                <a href="/images/gallery1.jpg" title="Gallery #1">
                                    <img src="/images/gallery1.jpg" alt="" class="img-fluid">
                                    <div class="project-info">
                                        <div class="project-icon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- ITEM 2 -->
                        <div class="col-sm-6 col-md-4">
                            <div class="box-gallery">
                                <a href="/images/gallery2.jpg" title="Gallery #2">
                                    <img src="/images/gallery2.jpg" alt="" class="img-fluid">
                                    <div class="project-info">
                                        <div class="project-icon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- ITEM 3 -->
                        <div class="col-sm-6 col-md-4">
                            <div class="box-gallery">
                                <a href="/images/gallery3.jpg" title="Gallery #3">
                                    <img src="/images/gallery3.jpg" alt="" class="img-fluid">
                                    <div class="project-info">
                                        <div class="project-icon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- ITEM 4 -->
                        <div class="col-sm-6 col-md-4">
                            <div class="box-gallery">
                                <a href="/images/gallery4.jpg" title="Gallery #4">
                                    <img src="/images/gallery4.jpg" alt="" class="img-fluid">
                                    <div class="project-info">
                                        <div class="project-icon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- ITEM 5 -->
                        <div class="col-sm-6 col-md-4">
                            <div class="box-gallery">
                                <a href="/images/gallery5.jpg" title="Gallery #5">
                                    <img src="/images/gallery5.jpg" alt="" class="img-fluid">
                                    <div class="project-info">
                                        <div class="project-icon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- ITEM 6 -->
                        <div class="col-sm-6 col-md-4">
                            <div class="box-gallery">
                                <a href="/images/gallery6.jpg" title="Gallery #6">
                                    <img src="/images/gallery6.jpg" alt="" class="img-fluid">
                                    <div class="project-info">
                                        <div class="project-icon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

